* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.clearfix::before,
.clearfix::after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: none;
  clear: both;
}
body,
html {
  background: #f9d4d4;
  width: 100%;
  height: 100%;
}
.order-navgation {
  line-height: 60px;
  font-size: 16px;
  padding: 0 15px;
  color: #4f4f4f;
  background: white;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 100px;
  margin-inline-end: 0px;
  width: 1100px;
}
.order-box {
  background: white;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 100px;
  margin-inline-end: 0px;
  width: 1130px;
}
.order-box .order-box-navgation {
  line-height: 60px;
  font-size: 16px;
  padding: 0 15px;
  color: #4f4f4f;
}
.order-box .order-box-hr {
  border-bottom: 1px solid #e1e1e1;
  margin-top: -11px;
  width: 1100px;
  margin-left: 15px;
}
.order-box .order-box-body {
  border: solid 1px #c4c4c4;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
.order-box .order-box-body .order-box-body-ul1 {
  background: #e1e1e1;
  height: 30px;
}
.order-box .order-box-body .order-box-body-ul1 .li1 {
  float: left;
  width: 16.6%;
  text-align: center;
  line-height: 30px;
  color: #707070;
}
.order-box .order-box-body .order-box-body-ul1 .li2 {
  float: left;
  width: 16.6%;
  text-align: center;
  line-height: 30px;
  color: #707070;
}
.order-box .order-box-body .order-box-body-ul1 .li3 {
  float: left;
  width: 16.6%;
  text-align: center;
  line-height: 30px;
  color: #707070;
}
.order-box .order-box-body .order-box-body-ul1 .li4 {
  float: left;
  width: 16.6%;
  text-align: center;
  line-height: 30px;
  color: #707070;
}
.order-box .order-box-body .order-box-body-ul1 .li5 {
  float: left;
  width: 16.6%;
  text-align: center;
  line-height: 30px;
  color: #707070;
}
.order-box .order-box-body .order-box-body-ul1 .li6 {
  float: left;
  width: 16.6%;
  text-align: center;
  line-height: 30px;
  color: #707070;
}
.order-box .order-box-body .order-box-body-ul2 {
  height: 98px;
  border-bottom: solid 1px #c4c4c4;
}
.order-box .order-box-body .order-box-body-ul2 .li1 {
  float: left;
  text-align: center;
  line-height: 98px;
  width: 16.6%;
  color: #4f4f4f;
}
.order-box .order-box-body .order-box-body-ul2 .li1 img {
  display: inline-block;
  border-radius: 40px;
  margin-top: 8px;
}
.order-box .order-box-body .order-box-body-ul2 .li2 {
  float: left;
  text-align: center;
  line-height: 98px;
  width: 16.6%;
  color: #4f4f4f;
}
.order-box .order-box-body .order-box-body-ul2 .li3 {
  float: left;
  text-align: center;
  line-height: 98px;
  width: 16.6%;
  color: #ff9c27;
}
.order-box .order-box-body .order-box-body-ul2 .li4 {
  float: left;
  text-align: center;
  line-height: 98px;
  width: 16.6%;
  color: #4f4f4f;
}
.order-box .order-box-body .order-box-body-ul2 .li5 {
  float: left;
  text-align: center;
  line-height: 98px;
  width: 16.6%;
  color: #4f4f4f;
}
.order-box .order-box-body .order-box-body-ul2 .li5 span {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  cursor: pointer;
  margin: 0 5px;
}
.order-box .order-box-body .order-box-body-ul2 .li5 input {
  border: none;
  border-bottom: 1px solid #ddd;
  width: 50px;
  text-align: center;
  height: 22px;
  line-height: 22px;
  outline: none;
}
.order-box .order-box-body .order-box-body-ul2 .li6 {
  float: left;
  text-align: center;
  line-height: 98px;
  width: 16.6%;
  color: #ff9c27;
}
.order-box .order-box-body .order-box-body-ul3 {
  height: 118px;
}
.order-box .order-box-body .order-box-body-ul3 #li {
  width: 100%;
  height: 118px;
  position: relative;
}
.order-box .order-box-body .order-box-body-ul3 #li textarea {
  width: 1100px;
  height: 90px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  resize: none;
  outline: none;
  border: none;
  background: none;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 13.3333px Arial;
}
.order-box .order-box-body .order-box-body-ul3 #li .p1 {
  position: absolute;
  top: 98px;
  left: 1060px;
  border-radius: 8px;
  color: #ece9e1;
}
.order-box .order-box-foot {
  margin-top: 10px;
  padding: 8px 15px;
  height: 28px;
  line-height: 28px;
  padding-bottom: 15px;
}
.order-box .order-box-foot .order-box-foot-phone {
  float: left;
}
.order-box .order-box-foot .order-box-foot-phone img {
  border: 0;
  vertical-align: middle;
}
.order-box .order-box-foot .order-box-foot-phone input {
  width: 94px;
  border-radius: 4px;
  border: solid 1px #cbcbcb;
  outline: none;
  background: #fff;
  padding-left: 10px;
  height: 25px;
  line-height: 25px;
}
.order-box .order-box-foot .order-box-foot-qq {
  float: left;
  margin-left: 40px;
}
.order-box .order-box-foot .order-box-foot-qq img {
  border: 0;
  vertical-align: middle;
}
.order-box .order-box-foot .order-box-foot-qq input {
  width: 94px;
  border-radius: 4px;
  border: solid 1px #cbcbcb;
  outline: none;
  background: #fff;
  padding-left: 10px;
  height: 25px;
  line-height: 25px;
}
.order-box .order-box-foot .order-box-foot-wx {
  float: left;
  margin-left: 40px;
}
.order-box .order-box-foot .order-box-foot-wx img {
  border: 0;
  vertical-align: middle;
}
.order-box .order-box-foot .order-box-foot-wx input {
  width: 94px;
  border-radius: 4px;
  border: solid 1px #cbcbcb;
  outline: none;
  background: #fff;
  padding-left: 10px;
  height: 25px;
  line-height: 25px;
}
.order-box1 {
  background: #fff;
  min-height: 60px;
  margin-top: 10px;
  width: 1130px;
  margin-left: 100px;
  overflow: hidden;
  padding-bottom: 30px;
}
.order-box1 .order-box1-text {
  margin-left: 20px;
  margin-top: 10px;
}
.order-box1 .order-box1-hr {
  border-bottom: 1px solid #e1e1e1;
  margin-top: 12px;
  width: 1100px;
  margin-left: 19px;
}
.order-box1 .order-box1-body {
  padding-bottom: 30px;
  position: relative;
}
.order-box1 .order-box1-body .order-box1-body-cash {
  float: left;
  margin-right: 30px;
  width: 180px;
  height: 80px;
  text-align: center;
  border: solid 1px #ff5d42;
  border-radius: 4px;
  margin-top: 20px;
  margin-left: 15px;
  cursor: pointer;
}
.order-box1 .order-box1-body .order-box1-body-cash img {
  line-height: 80px;
  vertical-align: middle;
}
.order-box1 .order-box1-body .order-box1-body-cash span {
  display: inline-block;
  color: #ff5d42;
  line-height: 80px;
}
.order-box1 .order-box1-body .order-box1-body-cash p {
  clear: both;
  color: #999;
  font-size: 12px;
  position: absolute;
  top: 43px;
  left: 93px;
}
.order-box1 .order-box1-body .order-box1-body-wx {
  float: left;
  margin-right: 30px;
  width: 180px;
  height: 80px;
  text-align: center;
  border: solid 1px #d7d7d7;
  border-radius: 4px;
  margin-top: 20px;
  margin-left: 15px;
  cursor: pointer;
}
.order-box1 .order-box1-body .order-box1-body-wx img {
  line-height: 80px;
  vertical-align: middle;
}
.order-box1 .order-box1-body .order-box1-body-wx span {
  display: inline-block;
  color: black;
  line-height: 80px;
}
.order-box1 .order-box1-body .order-box1-body-zfb {
  float: left;
  margin-right: 30px;
  width: 180px;
  height: 80px;
  text-align: center;
  border: solid 1px #d7d7d7;
  border-radius: 4px;
  margin-top: 20px;
  margin-left: 15px;
  cursor: pointer;
}
.order-box1 .order-box1-body .order-box1-body-zfb img {
  line-height: 80px;
  vertical-align: middle;
}
.order-box1 .order-box1-body .order-box1-body-zfb span {
  display: inline-block;
  color: black;
  line-height: 80px;
}
.order-foot {
  background: #fff;
  min-height: 60px;
  margin-top: 10px;
  width: 1130px;
  margin-left: 100px;
  overflow: hidden;
  padding-bottom: 30px;
}
.order-foot .order-foot-pay {
  margin-left: 950px;
  margin-top: 35px;
}
.order-foot .order-foot-pay-span {
  font-size: 12px;
}
.order-foot .order-foot-pay-span1 {
  font-size: 25px;
  color: #ff5d42;
}
.order-foot .order-foot-btn {
  margin-left: 950px;
  margin-top: 20px;
  width: 140px;
  height: 40px;
  background: #f5501e;
  line-height: 40px;
  border-radius: 5px;
  text-align: center;
  color: #d7d7d7;
}
